:host {
  display: grid;
  grid-template-rows: min-content auto;
  row-gap: 10px;
  margin: 20px 0;
}

.header {
  display: grid;
  grid-template-columns: min-content auto min-content;
  column-gap: 20px;
  align-items: center;
  margin: 0 10px;
}

.disabled {
  filter: grayscale(100%);
}

.search-bar{
  width: 100%;
  border: none;
}

.result-count {
  text-overflow: ellipsis; 
  overflow: hidden; 
  white-space: nowrap;
}

.search-speed {
  overflow: hidden;
  white-space: nowrap;
}

.pointer:hover {
  cursor: pointer;
}

.star {
  height: 25px;
}

.modal-title {
  display: grid;
  grid-template-columns: auto min-content;
  column-gap: 10px;
  align-items: center;
}

.badge {
  margin-right: 5px;
}

@media only screen and (min-width: 768px) {
  .modal-body {
    min-width: 700px;
  }
}

.modal-text {
  display: grid;
  grid-template-rows: min-content auto;
}

.copy-btn {
  margin-top: 25px;
}