<!-- Search Bar -->
<input class="search-bar"
  type="text"
  placeholder="search anything..."
  [ngModel]="searchString$ | async"
  (ngModelChange)="updateSearchString($event)"
>

<!-- Content -->
<table>
  <thead>
    <tr>
      <th></th>
      <th>Type</th>
      <th>Title</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let entity of (entityList$ | async)"
        class="entity border" (click)="openUrl(entity.url)" >
      <td>
        <img *ngIf="entity.favorite === 'TRUE'" class="star" src="assets/star.png" />
      </td>
      <td>
        {{entity.type}}
      </td>
      <td [class.text-secondary]="entity.url" (click)="openUrl(entity.url)">
        {{entity.title}}
      </td>
      <td>
        {{entity.description}}
      </td>
    </tr>
  </tbody>
</table>