:host {
  display: grid;
  grid-template-rows: min-content auto;
  row-gap: 10px;
  padding: 20px;
  border-radius: 10px;
  margin: 20px;
}

.search-bar{
  width: 100%;
  border: none;
}

.badge:hover,
.modal-subtitle,
.text-secondary:hover {
  cursor: pointer;
}

.star {
  height: 25px;
}

.modal-title {
  display: grid;
  grid-template-columns: auto min-content;
  column-gap: 10px;
  align-items: center;
}