<!-- Header -->
<div class="header">
  <input class="search-bar"
    type="text"
    placeholder="search anything..."
    [ngModel]="searchString$ | async"
    (ngModelChange)="updateSearchString($event)"
  >
  <div class="search-speed">{{searchSpeed}} ms</div>
</div>

<!-- Content -->
<table>
  <thead>
    <tr>
      <th></th>
      <th>Type</th>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let entity of (entityList$ | async); let i = index" class="entity border" >
      <td>
        <img *ngIf="entity.favorite === 'TRUE'" class="star" src="assets/star.png" />
      </td>
      <td>
        {{entity.type}}
      </td>
      <td [class.text-secondary]="entity.url" [class.pointer]="entity.url" [attr.popover-left]="entity.url ? entity.url : null" (click)="openUrl(entity.url)">
        {{entity.title}}
      </td>
      <td>
        <label class="badge pointer" [for]="i">View</label>
        <input class="modal-state" [id]="i" type="checkbox">
        <div class="modal">
          <label class="modal-bg" [for]="i">{{entity.keywords}}</label>
          <div class="modal-body">
            <h4 class="modal-title">
              <span>{{entity.title}}</span>
              <img *ngIf="entity.favorite === 'TRUE'" class="star" src="assets/star.png" />
            </h4>
            <h5 class="modal-subtitle pointer" (click)="openUrl(entity.url)">{{entity.url}}</h5>
            <div class="modal-text">
              <div *ngIf="entity.keywords.length">
                <p *ngFor="let keyword of parseKeywords(entity.keywords)" class="badge">
                  {{keyword}}
                </p>
              </div>
              <span>
                {{entity.description}}
              </span>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>